<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Restaurants recommendation for you">
  <meta name="theme-color" content="#ff8e3c"/>

  <link rel="manifest" href="./app.webmanifest">
  <link rel="icon" type="image/png" href="./favicon.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

  <title>Find Your Favorite Restaurant</title>
</head>
<body>
  <a href="#" class="skip-link" tabindex="1">Menuju ke konten</a>
  <header class="header">
    <h1 class="header__title" tabindex="2">FYO RESTO</h1>
    <a href="#" id="menu" class="header__menu" tabindex="2">☰</a>
    <nav id="drawer" class="nav">
      <ul class="nav__list">
        <li class="nav__item"><a href="#/home" tabindex="3">Home</a></li>
        <li class="nav__item"><a href="#/favorite" tabindex="3">Favorite</a></li>
        <li class="nav__item"><a href="https://linkedin.com/in/sitialiya" tabindex="3">About Us</a></li>
      </ul>
    </nav>
  </header>
  
  <div class="hero">
    <div class="hero__inner">
      <h1 class="hero__title" tabindex="4">Cari Resto Favorit di Kotamu</h1>
      <p class="hero__tagline" tabindex="4">Bingung cari restoran favorit di kotamu? Cari dan temukan di FYO RESTO!</p>
    </div>
    <div class="hero__background">
      <picture class="image__background">
        <source class="hero__compressed" media="(max-width: 500px)" data-srcset="https://raw.githubusercontent.com/sitialiya/restaurant-apps-pwa-testing/main/docs/images/hero-image-large.jpg" type="image/jpg" alt="hero image">
        <source class="hero__compressed" media="(min-width: 1200px)" data-srcset="https://raw.githubusercontent.com/sitialiya/restaurant-apps-pwa-testing/main/docs/images/hero-image-small.jpg" type="image/jpg" alt="hero image">
        <img class="hero__compressed lazyload" data-src="https://raw.githubusercontent.com/sitialiya/restaurant-apps-pwa-testing/main/docs/images/hero-image-medium.jpg" width="300" height="200" alt="hero image"/>
      </picture>
    </div>
  </div>

  <main id="mainContent" tabindex="0">
  </main>

  <footer>
    <div id="about">
      <a href="https://github.com/sitialiya" class="github-icon" tabindex="5" aria-label="Profil GitHub Siti Aliya"></a>
      <a href="https://instagram.com/aliyaaa.sn" class="instagram-icon" tabindex="5" aria-label="Profil Instagram Siti Aliya"></a>
      <a href="https://linkedin.com/in/sitialiya" class="linkedin-icon" tabindex="5" aria-label="Profil Linkedin Siti Aliya"></a>
    </div>
    <div class="copyright">
      <p tabindex="5">Copyright &copy 2023 - FYO RESTO</p>
    </div>
  </footer>
</body>
</html>
